#pragma code_page(65001)
//#define RT_MANIFEST 24
//1 RT_MANIFEST "chuck-norust.exe.manifest"
1 VERSIONINFO
FILETYPE 0x1
FILEVERSION 1, 1, 0, 0
FILEFLAGSMASK 0x3f
PRODUCTVERSION 1, 1, 0, 0
FILEOS 0x40004
FILEFLAGS 0x0
FILESUBTYPE 0x0
{
    BLOCK "StringFileInfo" {
        BLOCK "040904b0" {
            VALUE "ProductName", "Chuck Norust"
            VALUE "LegalCopyright", "DevDuFutur - 2021"
            VALUE "OriginalFilename", "CHUCK-NORUST.EXE"
            VALUE "ProductVersion", "1.1.0.0"
            VALUE "FileVersion", "1.1.0.0"
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04b0
    }
}
1 ICON "chuck.ico"
2 ICON "chuck_said.ico"
